<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/fontawesome/css/all.css">
  <link rel="stylesheet" href="./assets/styles/index.css">
  <link rel="stylesheet" href="./assets/styles/animate.css">
  <title>The Smartest Among Us</title>
</head>

<body>
  <nav class="navbar navbar-expand navbar-dark display-flex justify-content-between">
    <a class="navbar-brand" href="/">
      <img src="assets/img/home-icon.png" alt="The Smartest Among Us">
    </a>

    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-bars" id="hamburger"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/play">Play</a>
            <a class="dropdown-item" href="/create">Create</a>
            <a class="dropdown-item" href="/account">Account</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div id="background"></div>
  <div id="midground"></div>
  <div id="foreground"></div>

  {{{ body }}}

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>