<!-- Header -->
<header>
  <section class="container cont">
    <article class="row">
      <h2 class="">Account</h2>
    </article>
    <article class="row">
      <h3 class="" id="user">Username</h3>
      <button class="button" id="Logout">Logout</button>
    </article>
  </section>
</header>
<!-- Page Content -->
<main class="container">
  <!-- Display User Quizzes -->
  <section class="row">
    <article class="cont col-12">
      <h3><a class="text" href=#>Your Quiz 1</a></h3>
    </article>
    <article class="cont col-12">
      <h3><a class="text" href=#>Your Quiz 2</a></h3>
    </article>
    <article class="cont col-12">
      <h3><a class="text" href=#>Your Quiz 3</a></h3>
    </article>
  </section>
  <!-- Display Create Account If Not Logged In -->
  <section class="row">
    <button class="col-6 button"><a class="text" href="./cre-account.html">Create Account</a></button>
  </section>
</main>