<!-- Header -->
<header class="container-fluid cont">
  <div class="row">
    <h2 class="col-12">Account</h2>
    <h3 class="col-12" id="user">{{ username }}</h3>
  </div>
    {{!-- <article class="row">
      
    </article>
    <article class="row">
      
      <button class="button" id="Logout">Logout</button>
    </article> --}}
</header>
<!-- Page Content -->
<main class="container">
  <!-- Display User Quizzes -->
  <section class="row">
    {{#each quizzes}}
      {{> quizName}}
    {{/each}}
  </section>
  <!-- Display Create Account If Not Logged In -->
  {{!-- <section class="row">
    <button class="col-6 button"><a class="text" href="./cre-account.html">Create Account</a></button>
  </section> --}}
</main>