<header>
  <section class="col cont">
    <h2>Create Quiz</h2>
  </section>
</header>
<main>
  <section>
    <form class="container">
      <!-- For Quiz Name and Choose Auto -->
      <fieldset  class="row cont">
        <article id="name" class="col-12">
          <h3 class="">Name Your Quiz</h3>
          <input class="col-12" type="text" id="qname" name="qname">
        </article>
        <article id="amnt" class="col-12 spacer hide" >
          <h3 class="spacer">How many Questions would you like?</h3>
          <p>You can add or remove Questions later</p>
          <div class="row">
            <select class="col-3 col-md-2" id="amnt-val">
              {{!-- <option selected disabled>Questions</option> --}}
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
            </select>
            <button class="button col-6" id="amnt-sbt">Submit</button>
          </div>
        </article>
        <article class="spacer hide" id="rand">
          <h3 class="spacer">Would you like your Questions to be in Random Order?</h3>
          <p>We'll shuffle your Quiz so it's a fresh experience every time!</p>
          <article class="row">
            <button class="button" id="randyes">Yes</button>
            <button class="button" id="randno">No</button>
          </article>
        </article>
        <article class="spacer hide" id="auto">
          <h3 class="spacer">Would you like to Auto Populate your Quiz</h3>
          <p>Choose a Category and Difficulty to instantly create Questions and Answers for your Quiz!</p>
          <article class="row">
            <button class="button" id="autoyes">Yes</button>
            <button class="button" id="autono">No</button>
          </article>
        </article>
        <article class="spacer hide" id="settings">
          <article class="row">
            <h3 class="col-12 spacer">Choose A Category</h3>
            <button class="col-4 cat button">Animals</button>
            <button class="col-4 cat button">Film</button>
            <button class="col-4 cat button">Games</button>
            <button class="col-4 cat button">Sports</button>
            <button class="col-4 cat button">Anime</button>
            <button class="col-4 cat button">Books</button>
            <button class="col-4 cat button">Music</button>
            <button class="col-4 cat button">Math</button>
          </article>
          <article class="row spacer">
            <h3 class="col-12 spacer">Choose A Difficulty</h3>
            <button class="col-4 dif button">Easy</button>
            <button class="col-4 dif button">Medium</button>
            <button class="col-4 dif button">Hard</button>
          </article>
          <article class="spacer row">
            <button id="sub" class="button">Submit</button>
          </article>
        </article>
      </fieldset>
      <!-- For Questions -->
      <fieldset id="quiz-cont" class="hide">

        {{!-- This is a hard coded version of the dynamic built jQuery use for testing--}}

        {{!-- <section class="row cont question">

            <article class="col-12">
              <div class="row">
                <button class="button q-rmv">X</button>
              </div>
            </article>

            <article class="col-7 col-md-4 spacer">
              <h3>Question 1</h3>
              <div class="row">
                <input type="text" name="q1"> 
              </div>
            </article>

            <article class="col-7 col-md-4 spacer">
              <h3>Correct Answer</h3>
              <div class="row">
                <input type="text" name="q1-crt">
              </div>
            </article>

            <article class="col-7 col-md-4 spacer">
              <h3>Imposter Answers</h3>
              <div class="row">
                <input type="text" name="q1-wrg1">
                <input type="text" name="q1-wrg2">
                <input type="text" name="q1-wrg3">
              </div>
            </article>

          </section> --}}


      </fieldset>
      <article class="row spacer hide" id="btns">
        <button id="new-btn" class="button">Add A New Question</button>
        <button id="api" class="button">Submit</button>
      </article>
    </form>
  </section>
</main>

{{!-- removed from main, included in every other file --}}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script type="text/javascript" src="assets/scripts/login.js"></script>
<script type="text/javascript" src="assets/scripts/signup.js"></script>
<script type="text/javascript" src="assets/scripts/main.js"></script>
<script type="text/javascript" src="assets/scripts/user-quiz.js"></script>

{{!-- specific js file needed for this page --}}
<script src="assets/scripts/create.js"></script>