<main class="container">
    <section class="col cont">
      <p>Welcome to The Smartest Among Us!
        Play a variety of quizzes and compete in 
        global leaderboards to prove your might!</p>
      <p>Or create your own quizzes to share'
      with your friends and prove once and
      for all who the true imposter is.</p>
    </section>
    <section class="col cont">
      <button type="button" class="button"><a class="text" href="/play">Play</a></button>
    </section>
  </main>