<main class="container">
  <section class="row">
    <div class="col-12 col-md-8 cont">
      <p>Welcome to The Smartest Among Us!
        Play a variety of quizzes and compete in
        global leaderboards to prove your might!</p>
      <p>Or create your own quizzes to share
        with your friends and prove once and
        for all who the true imposter is.</p>
    </div>
    <div class="col-12 col-md-4 cont">
      <button type="button" class="button"><a class="text" href="/play">Play</a></button>
    </div>
  </section>
</main>