<main class="container-fluid">
  <section class="row cont d-flex align-items-center">
    <div class="col-12 col-sm-8">
      <h3>Welcome to The Smartest Among Us!</h3>
      <br></br>
      <p>Play a variety of Quizzes and compete on
        Global Leader Boards to prove your might!</p>
      <p>Or create your own Quizzes to share
        with your Crew Mates and prove once and
        for all who the True Imposter is!</p>
    </div>
    <div class="col-12 col-sm-4 d-flex justify-content-center">
      <button type="button" class="button" style="height: 60px"><a class="text" href="/play">Play</a></button>
    </div>
  </section>
</main>

{{!-- removed from main, included in every other file --}}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script type="text/javascript" src="assets/scripts/login.js"></script>
<script type="text/javascript" src="assets/scripts/signup.js"></script>
<script type="text/javascript" src="assets/scripts/main.js"></script>
<script type="text/javascript" src="assets/scripts/user-quiz.js"></script>