<header>
  <section class="col cont">
    <h2>Play</h2>
  </section>
</header>

<main class="container">
  <div class="row">
    <div class="col-12 col-sm-2 col-md-4 col-lg-3 card">
      {{!-- <img src="/assets/img/placeholder-white.png" class="card-img-top" alt="..."> --}}
      <div class="card-body">
        <a href="/playGlobal" class="button" id="global">Play Public Quizzes</a>
        <p>Compete on a global leader board with our custom made quizzes</p>
      </div>
    </div>
    <div class="col-12 col-sm-2 col-md-4 col-lg-3 card">
      {{!-- <img src="/assets/img/placeholder-white.png" class="card-img-top" alt="..."> --}}
      <div class="card-body">
        <a href="/playRandom" class="button" id="random">Play Random Quizzes</a>
        <p>Choose from a category and play randomly generated quizzes</p>
      </div>
    </div>
    <div class="col-12 col-sm-2 col-md-4 col-lg-3 card">
      {{!-- <img src="/assets/img/placeholder-white.png" class="card-img-top" alt="..."> --}}
      <div class="card-body">
        <a href="/create" class="button" id="create">Create</a>
        <p>Make your own quizzes to share with your friends and compete in a private leader board</p>
      </div>
    </div>
  </div>
</main>