<header>
  <section class="col cont">
    <h2>Play</h2>
  </section>
</header>

<main class="container">
  <section class="row">
    <article class="col-12 col-md-4 cont">
      <img src="/assets/img/placeholder-white.png" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="/playGlobal" class="button" id="global">Play Public Quizzes</a>
        <p>Compete on a global leader board with our custom made quizzes</p>
      </div>
    </article>
    <article class="col-12 col-md-4 cont">
      <img src="/assets/img/placeholder-white.png" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="/random" class="button" id="random">Play Random Quizzes</a>
        <p>Choose from a category and play randomly generated quizzes</p>
      </div>
    </article>
    <article class="col-12 col-md-4 cont">
      <img src="/assets/img/placeholder-white.png" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="/create" class="button" id="create">Create</a>
        <p>Make your own quizzes to share with your friends and compete in a private leader board</p>
      </div>
    </article>
  </section>
</main>

<scripts src="./assets/scripts/play"></scripts>