<header>
    <section class="col cont">
      <h2>Play Random Quizzes</h2>
    </section>
  </header>
  <main class="container">
    <section id="settings" class="cont hide">
      <h3>Choose A Category</h3>
      <article id="cat">
        <button class="cat button">Art</button>
        <button class="cat button">Film</button>
        <button class="cat button">Games</button>
        <button class="cat button">Sports</button>
        <button class="cat button">Anime</button>
        <button class="cat button">Books</button>
        <button class="cat button">Music</button>
        <button class="cat button">Math</button>
      </article>
      <h3>Choose A Difficulty</h3>
      <article>
        <button class="dif button">Easy</button>
        <button class="dif button">Medium</button>
        <button class="dif button">Hard</button>
      </article>
      <button id="sub" class="button">Submit</button>
    </section>
    <section class="row">
      <article id="scr" class="cont col-12 hide">
        <h3>Score: <span id="score">0</span></h3>
      </article>
      <article id="quiz" class="col-12">
        
      </article>
      <article class="cont fuck">

      </article>
    </section>
  </main>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
 <script src="assets/scripts/random.js"></script>