<header>
  <section class="col cont">
    <h2>Global Quizzes</h2>
  </section>
</header>
<main class="container">
  <section class="row">
    {{#each quizzes}}
    {{> quizName}}
    {{/each}}
  </section>
</main>